<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout}">

<div layout:fragment="content">

	<div class="jumbotron">
		<div class="container">
			<h1 class="display-3" th:text="#{crear-usuario}"> Titulo </h1>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<div class="col-md-8 order-md-1">
				<h4 class="mb-3" th:text="#{datos-generales}">Subtitulo</h4>
				<form class="needs-validation" th:object="${crearEditarUserForm}" th:action="@{/users/crear-editar}" method="post" autocomplete="off" >
				
					<div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('global')}">
						<ul>
					        <li th:each="e : ${#fields.detailedErrors()}" th:class="${e.global}? globalerr : fielderr">
					            <span th:text="${e.message}">The error message</span>
					        </li>
					    </ul>
					</div>
					
				
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="email" th:text="#{email}">Email <span class="text-muted">*</span></label>
							<input type="email" class="form-control" th:field="*{user.email}" 
								th:classappend="${#fields.hasErrors('user.email')} ? 'is-invalid' : ''" th:placeholder="#{correo-ejemplo}" required="required" />
							<div class="invalid-feedback" th:if="${#fields.hasErrors('user.email')}" th:errors="*{user.email}" >Error.</div>
						</div>
						<div class="col-md-6 mb-3">
							<label for="profile" th:text="#{perfil}"> <span class="text-muted">*</span></label>
							<th:block th:each="profile : ${profiles}" >
								<br/>
								<input type="checkbox"  th:field="*{codeProfileSelectedList}" th:value="${profile.code}"/>
								<span th:text="${profile.name}"></span>
							</th:block>
						</div>
					</div>
				
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="firstName" th:text="#{nombres}">First name</label> 
							<input th:field="*{user.firstName}" type="text" class="form-control" 
								th:classappend="${#fields.hasErrors('user.firstName')} ? 'is-invalid' : ''" placeholder="" value="" required="required" />
							<div class="invalid-feedback" th:if="${#fields.hasErrors('user.firstName')}" th:errors="*{user.firstName}" >Error.</div>
						</div>
						<div class="col-md-6 mb-3">
							<label for="lastName" th:text="#{apellidos}">Last name</label> 
							<input th:field="*{user.lastName}" type="text" class="form-control" 
								th:classappend="${#fields.hasErrors('user.lastName')} ? 'is-invalid' : ''" placeholder="" value="" required="required" />
							<div class="invalid-feedback" th:if="${#fields.hasErrors('user.lastName')}" th:errors="*{user.lastName}" >Error.</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="mobilePhone" th:text="#{telefono-movil}"> </label> 
							<input th:field="*{user.telefonoMovil}" type="tel" class="form-control"
								th:classappend="${#fields.hasErrors('user.telefonoMovil')} ? 'is-invalid' : ''" placeholder="" value="" required="required" />
							<div class="invalid-feedback" th:if="${#fields.hasErrors('user.telefonoMovil')}" th:errors="*{user.telefonoMovil}" >Error.</div>
						</div>
						<div class="col-md-6 mb-3">
							<label for="phone" th:text="#{telefono-fijo}">Last name</label> 
							<input th:field="*{user.telefonoFijo}" type="tel" class="form-control" 
								th:classappend="${#fields.hasErrors('user.telefonoFijo')} ? 'is-invalid' : ''" placeholder="" value="" />
							<div class="invalid-feedback" th:if="${#fields.hasErrors('user.telefonoFijo')}" th:errors="*{user.telefonoFijo}" >Error.</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-md-6 mb-3">
							<label for="password" th:text="#{password}"> </label> 
							<input th:field="*{user.password}" type="password" class="form-control" 
								th:classappend="${#fields.hasErrors('user.password')} ? 'is-invalid' : ''" placeholder="" value="" required="required" autocomplete="new-password"  />
							<div class="invalid-feedback"  th:if="${#fields.hasErrors('user.password')}" th:errors="*{user.password}" >Error.</div>
						</div>
						<div class="col-md-6 mb-3">
							<label for="confirmarPassword" th:text="#{confirmar-password}"> </label> 
							<input th:field="*{confirmPassword}" type="password" class="form-control" 
								th:classappend="${#fields.hasErrors('confirmPassword')} ? 'is-invalid' : ''" placeholder="" value="" required="required"
								autocomplete="new-password" />
							<div class="invalid-feedback" th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">Errror.</div>
						</div>
					</div>

					<hr class="mb-4">

					<button class="btn btn-primary btn-lg btn-block" type="submit" th:text="#{guardar}"> </button>
					<button class="btn btn-seconday btn-lg btn-block" type="submit" th:text="#{cancelar}"> </button>
				</form>
			</div>
		</div>

	</div>

</div>

<th:block layout:fragment="scripts">
	<script th:inline="javascript">
		/*<![CDATA[*/
				
		$(function() {

		});
	
		/*]]>*/
	</script>
</th:block>

</html>